.fila-sin-margin-bottom {
  margin-bottom: 0;
}

.caption {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.card-panel {
  font-size: 1.1rem;
}

.parrafo-sombra {
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .contenedor-main {
    margin-bottom: 10rem;
  }
}

.parrafo-destacado {
  display: inline-block;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 2px;
}
